*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol,li{
    list-style: none;
}
:root{
  --primary-color:#F07807;
  --secundary-color:#FBDDC1;
  --defalt-shadow: 0 4px 6px #0008;
  --defoult-padding: 0 80px;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: var(--secundary-color);    

}
header{ 
    position: absolute;
    width: 100%;
    height: 60px;
    top: 60px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: var(--defoult-padding);
}

header menu{
    align-items: center;
    gap: 48px;
    display :flex 
    
}
header li{
    
    padding: 4px 8px; 
    transition: 0.5;
    
}
header li:hover{
    background-color: var(--secundary-color);
    box-shadow: var(--defalt-shadow)

}
header button{
    height: 48px;
    width: 120px;
    border-radius: 12px;
    background-color: var(--secundary-color);
    box-shadow: var(--defalt-shadow);
    align-items: center;
}

section {
    height: 100vh;
}

.home {
    background-image: url(./img/background.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    display: grid;
    grid-template-rows: 3fr 1fr;
}
.hero{
   
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 64px;

}
.hero h2 {
    font-size: 4rem;
    width: 558px;
    font-weight: 400;
    margin-bottom: 64px;
}
.hero span{
    color:var(--primary-color)
}
.container-produto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.produto{
    background-color: #F07807;
    display: flex;
    border-radius: 12px;
  position: relative;
    
    

}
.adicionar{
    position: absolute ;
    top: -18px;
    right: -18px;
    height: 40px;
    width: 40px;
    background-color: #F07807;
    border: 4px solid white;
    border-radius: 13px;
    font-size: 32px;
    color: white;
    display: grid;
    place-content: center;
    opacity: 0;
    transition: .5s;
}
.produto:hover .adicionar{
    opacity:1
}
.animacao{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 12px;
}
.container-info{
    align-items: center;
    justify-content: space-between;
    position: absolute;
    display: flex;
    padding: 0 12px;
    bottom: -36px;
    width: 100%;
    height: 36px;
    background-color: #0008;
    border-radius: 0 0 12px 12px;
    transition: .5s;
}
.produto:hover .container-info{
    bottom: 0px;
}
.container-info p {
    width: 120px;
    font-size: 12px;
    font-weight: 300;
    color: white;
}
.container-info span{
    display: grid;
    place-content: center;
    width: 57px;
    height: 20px;
    background-color: var(--primary-color);
    font-size: 12px;
    border-radius: 14px;

}
.cardapio{
     background-color: white;
}
.titulo-secao{
    font-size: 2.5rem;
    font-weight: 500;
    
}


.cardapio-item{
    display: flex;
    flex-direction: column;
    border-bottom:  solid var(--primary-color);
    justify-content: space-evenly;
    height: 300px;
   
    
}


.cabecalho-item {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}
.cabecalho-item h4,
 .cabecalho-item a {
     font-size: 1.5rem;
     font-weight: 600;
 }
 .cardapio-item.bebidas{
    border: none;
 }
 .cardapio-item.bebidas .produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    padding: 16px;
    transition: .5s;
}
.cardapio-item.bebidas .produto:hover{
    box-shadow: 2px 2px 8px #bbb;
}
.cardapio-item.bebidas.valor{
    font-size: 1rem;
    color: var(--primary-color);
    width: 100%;
}
.cardapio-item.bebidas .descricao {
    font-size: 0.5rem;
    width: 100%;
}
serviços{
    background-color: #F07807;
}

