*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol,li{
    list-style: none;
}
:root{
  --primary-color:#F07807;
  --secundary-color:#FBDDC1;
  --defalt-shadow: 0 4px 6px #0004;
}
body{
    font-family: "Poppins", sans-serif;
    padding: 0 80px;

}
header{
    
    position: absolute;
    background-color: lightblue;
    width: calc(100% - 160px);
    height: 60px;
    top: 60px;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

header menu{
    align-items: center;
    gap: 48px;
    display :flex 
    
}
header li{
    
    padding: 4px 8px; 
    transition: 0.5;
    
}
header li:hover{
    background-color: var(--secundary-color);
    box-shadow: var(--defalt-shadow)

}
header button{
    height: 48px;
    width: 120px;
    border-radius: 12px;
    background-color: var(--secundary-color);
    box-shadow: var(--defalt-shadow);
    align-items: center;
}
main{
    height: 700px;
    background-color: plum;
}
footer{
    height: 525px;
    background-color: tomato;
}
